body{
    margin: 5vh 12.5vw;
}
.card1, .card2, .card3{
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 25px;
    height: 50vh;
    width: 75vw;
    border-radius: 50px;
    position: absolute;
    top: 15vh;
    left: 12.5vw;
}

.heading{
    margin-top: 50px;
    font-size: 3em;
}

p{
    font-size: 1.2em;
}

.stepBtn{
  background-color: #4caf4ff5;
  padding: 10px 20px;       
  border: solid, 2px, #4caf4f;           
  cursor: pointer;
  border-radius: 20px;
  font-size: 1.5rem;
}