.card{
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 25px;
    height: 50vh;
}

.heading{
    margin-top: 50px;
    font-size: 3em;
}

p{
    font-size: 1.2em;
}

.stepBtn{
  background-color: #4CAF50;
  padding: 10px 20px;       
  border: solid, 2px, green;           
  cursor: pointer;
  border-radius: 20px;
  font-size: 1.5rem;

}