html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: hsl(0, 0%, 20%);
}

.nav {
  position: fixed;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 16px;
  /* padding-right: 16px; */
  align-items: center;
  z-index: 100;
  
  /* Glassmorphism */
  background: hsla(0, 0%, 0%, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
}

img {
  width: 50px;
  height: 50px;
}

.menu {
  gap: 70px;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-items {
  color: hsl(133, 100%, 50%); /* Bright Green */
  font-size: 25px;
  font-family: 'Arial', sans-serif;
  cursor: pointer;
  text-transform: lowercase;
}

canvas {
  position: fixed;
  display: block;    
  top: 0;
  left: 0; 
  width: 100vw;
  height: 99vh;
}

h1 {
  position: fixed;
  top: 250px;
  width: 100%;
  text-align: center;
  color: hsl(0, 0%, 100%);
  z-index: 10;
  font-size: 500%;
  pointer-events: none;
  text-shadow: 0 10px 30px hsla(0, 0%, 0%, 0.5);
}