*{
    background-color: black;
}

.page1{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: dimgray;
}

.page2{
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: darksalmon;
}

.page3{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkseagreen;
}

.box{
    width: 200px;
    height: 200px;
    background-color:darkslateblue;
}

h1{
    color: rgb(192, 37, 37);
    font-size: 50vh;
    /* background-color: yellowgreen; */
}